@model List<ContactListVM>

@{
    ViewBag.Title = "Contacts";
}

<div style="width: 70%; margin-left: 40px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Full Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Email</td>
                    <td>@contact.FullName</td>
                    <td>
                        <div style="display: flex">
                            <a asp-area="Admin" asp-controller="Contact" asp-action="Details" asp-route-id="@contact.Id" style="color: white; background-color: purple" class="btn">Details</a>
                            <form asp-area="Admin" asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id">
                                <button style="color: black; margin-left: 10px; background-color: red" type="submit" class="btn">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>