@model List<DeveloperListVM>

@{
    ViewBag.Title = "Developers";
}

<div style="width: 70%; margin-left: 40px">
    <div style="display: flex; justify-content:right">
        <a asp-area="Admin" asp-controller="Developer" asp-action="Create" style="color: white; background-color: green; border: none" class="btn my-5">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var developer in Model)
            {
                <tr>
                    <td>@developer.Name</td>
                    <td>
                        <div style="display: flex">
                            <a asp-area="Admin" asp-controller="Developer" asp-action="Details" asp-route-id="@developer.Id" style="color: white;background-color: purple" class="btn">Details</a>
                            <a asp-area="Admin" asp-controller="Developer" asp-action="Edit" asp-route-id="@developer.Id" style="color: black; margin-left: 10px; background-color: yellow" class="btn">Edit</a>
                            <form asp-area="Admin" asp-controller="Developer" asp-action="Delete" asp-route-id="@developer.Id">
                                <button style="color: black; margin-left: 10px; background-color: red" type="submit" class="btn">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>